---
  Checks:      '-*,
                abseil-*,
                bugprone-argument-comment,
                bugprone-assert-side-effect,
                bugprone-bool-pointer-implicit-conversion,
                bugprone-dangling-handle,
                bugprone-forward-declaration-namespace,
                bugprone-inaccurate-erase,
                bugprone-redundant-branch-condition,
                bugprone-string-constructor,
                bugprone-string-integer-assignment,
                bugprone-suspicious-memset-usage,
                bugprone-suspicious-realloc-usage,
                bugprone-terminating-continue,
                bugprone-undefined-memory-manipulation,
                bugprone-unique-ptr-array-mismatch,
                bugprone-unused-raii,
                bugprone-use-after-move,
                bugprone-virtual-near-miss,
                clang-*,
                google-*,
                misc-definitions-in-headers,
                misc-homoglyph,
                misc-misleading-identifier,
                modernize-avoid-bind,
                modernize-concat-nested-namespaces,
                modernize-loop-convert,
                modernize-make-shared,
                modernize-make-unique,
                modernize-redundant-void-arg,
                modernize-replace-random-shuffle,
                modernize-shrink-to-fit,
                modernize-use-bool-literals,
                modernize-use-default-member-init,
                modernize-use-emplace,
                modernize-use-equals-default,
                modernize-use-equals-delete,
                modernize-use-noexcept,
                modernize-use-nullptr,
                modernize-use-override,
                modernize-use-transparent-functors,
                modernize-use-using,
                performance-for-range-copy,
                performance-implicit-conversion-in-loop,
                performance-move-const-arg,
                performance-move-constructor-init,
                performance-no-automatic-move,
                readability-avoid-const-params-in-decls,
                readability-const-return-type,
                readability-identifier-naming,
                readability-inconsistent-declaration-parameter-name,
                readability-make-member-function-const,
                readability-redundant-declaration,
                readability-redundant-member-init,
                readability-static-definition-in-anonymous-namespace'
  CheckOptions:
    - key:      bugprone-assert-side-effect.AssertMacros
      value:    assert,DCHECK
    - key:      bugprone-dangling-handle.HandleClasses
      value:    ::std::basic_string_view;::std::span;::absl::string_view
    - key:      bugprone-string-constructor.StringNames
      value:    ::std::basic_string;::std::basic_string_view;::absl::string_view
    - key:      modernize-use-default-member-init.UseAssignment
      value:    1
    - key:      modernize-use-transparent-functors.SafeMode
      value:    1
    - key:      modernize-use-emplace.IgnoreImplicitConstructors
      value:    1
    - key:      readability-identifier-naming.ClassCase
      value:    CamelCase
    - key:      readability-identifier-naming.ClassMemberCase
      value:    camelBack
    - key:      readability-identifier-naming.MemberCase
      value:    camelBack
    - key:      readability-identifier-naming.ProtectedMemberSuffix
      value:    _
    - key:      readability-identifier-naming.PrivateMemberSuffix
      value:    _
    - key:      readability-identifier-naming.FunctionCase
      value:    camelBack
    - key:      readability-identifier-naming.ClassMethodCase
      value:    camelBack
    - key:      readability-identifier-naming.MethodCase
      value:    camelBack
    - key:      readability-identifier-naming.GlobalConstantCase
      value:    UPPER_CASE
    - key:      readability-identifier-naming.MacroDefinitionCase
      value:    UPPER_CASE
    - key:      readability-identifier-naming.LocalConstantCase
      value:    aNy_CasE
    - key:      readability-identifier-naming.LocalVariableCase
      value:    camelBack
    - key:      readability-identifier-naming.EnumCase
      value:    CamelCase
    - key:      readability-identifier-naming.EnumConstantCase
      value:    CamelCase
    - key:      readability-identifier-naming.GlobalVariableCase
      value:    camelBack
    - key:      readability-identifier-naming.GlobalVariablePrefix
      value:    g_
    - key:      readability-identifier-naming.ParameterCase
      value:    camelBack
...
